{% extends "base.html" %}

{% block search %}
<h2>Enter your Spotify playlist URI below</h2>
<p class="description">(Under Share -> Copy Spotify URI.) <br>(It'll look something like <span>spotify:user:1230965869:playlist:1qbU8l1V5K0bx4Z2gDFx3K)</span></p>
<form action="" method="post" id="search_form">
    {{ searchBar.hidden_tag() }}
    {{ searchBar.playlist_url(class_="search") }}<br><br>
    {{ searchBar.submit(class_="submit") }}
</form>
{% if result %}
<p>Click one of the headings below to organise by ascending or descending.</p>

<table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Artist</th>
            <th onclick="sortTable(1)">Track</th>
            <th onclick="sortTable(2)">Dance Rating</th>
            <th onclick="sortTable(3)">Energy Rating</th>
            <th onclick="sortTable(4)">Positivity</th>
            <th onclick="sortTable(5)">BPM</th>
            <th onclick="sortTable(6)">Time Sig</th>
            <th onclick="sortTable(7)">Key</th>
            <th onclick="sortTable(8)">Inst'lness</th>
            <th onclick="sortTable(9)">Live</th>
            <th onclick="sortTable(10)">Loud</th>
            <th onclick="sortTable(11)">Speech</th>
            <!-- <th>Analysis URL</th> -->
        </tr>
        {% for r in result %}
        <tr>
            <td>{{ r['artist_name'] }}</td>
            <td>"{{ r['track_title'] }}"</td>
            <td class="danceRating colourCode">{{ r['dance_rating'] }}</td>
            <td class="energyRating colourCode">{{ r['energy'] }}</td>
            <td class="positivityRating colourCode">{{ r['valence'] }}</td>
            <td class="bpm" id="bpm">{{ r['bpm'] / 100 }} </td>
            <td>{{ r['signature'] }}</td>
            <td class="key">{{ r['key'] }}</td>
            <td>{{ r['instrumentalness'] }}</td>
            <td>{{ r['liveness'] }}</td>
            <td>{{ r['loudness'] }}</td>
            <td>{{ r['speechiness'] }}</td>
            <!-- <td>{{ r['analysis_url'] }}</td> -->

        </tr>
        {% endfor %}
        
        </table>
{% endif %}
<script>
// Sorting func shamelessly/shamefully jacked from W3schools
// https://www.w3schools.com/howto/howto_js_sort_table.asp
const sortTable = (n) => {
    let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    // set sorting direction to ascending
    dir = "asc";
    // loop
    while(switching) {
        switching = false;
        rows = table.rows;
        for(i = 1; i < (rows.length -1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("td")[n];
            y = rows[i+1].getElementsByTagName("td")[n];

            if(dir=="asc") {
                if(x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch=true;
                    break;
                }
            } else if(dir == "desc") {
                if(x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch=true;
                    break;
                }
            }
        }
        if(shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
            switching=true;
            switchcount++;
        } else {
            if(switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}

// Shading danceability/energy/positivity columns
// You can add "colourCode" to any <tr> element to add this shading
// But you'll have to extend the logic to incorporate different scales for other metrics
let cell = document.getElementsByClassName("colourCode") 
    for (let index = 0; index < cell.length; index++) {
        if(cell[index].innerText >= 0.9) {
        cell[index].style.backgroundColor = "#f800ae";
    } else if(cell[index].innerText < 0.9 && cell[index].innerText >= 0.8) {
        cell[index].style.backgroundColor = "#f741c0";
    } else if(cell[index].innerText < 0.8 && cell[index].innerText >= 0.7) {
        cell[index].style.backgroundColor = "#fa762a";
    } else if(cell[index].innerText < 0.7 && cell[index].innerText >= 0.6) {
        cell[index].style.backgroundColor = "#fc8743";
    } else if(cell[index].innerText < 0.6 && cell[index].innerText >= 0.5) {
        cell[index].style.backgroundColor = "#ff9557";
    } else if(cell[index].innerText < 0.5 && cell[index].innerText >= 0.4) {
        cell[index].style.backgroundColor = "#94eefa";
    } else if(cell[index].innerText < 0.4 && cell[index].innerText >= 0) {
        cell[index].style.backgroundColor = "#00e1ff";
    }  
    }

let bpm = document.getElementsByClassName("bpm");
for(let i = 0; i < bpm.length; i++) {
    bpm[i].innerText = bpm[i].innerText * 100;
    bpm[i].innerText = parseInt(bpm[i].innerText).toFixed(2);
}

// Spotify returns the key using pitch class notation (0-11)
// This converts those integers to their actual pitch letter
let key = document.getElementsByClassName("key");
for(let i = 0; i < key.length; i++) {
    let keyText = key[i].innerText;

    switch(key[i].innerText) {
        case "0": 
            key[i].innerText = "C";
            break;
        case "1":
            key[i].innerText = "C#";
            break; 
        case "2":
            key[i].innerText = "D";
            break;
        case "3":
            key[i].innerText = "D#";
            break;
        case "4": 
            key[i].innerText = "E";
            break;
        case "5": 
            key[i].innerText = "F";
            break;
        case "6":
            key[i].innerText = "F#";
            break;
        case "7": 
            key[i].innerText = "G";
            break;
        case "8":
            key[i].innerText = "G#";
            break;
        case "9": 
            key[i].innerText = "A";
            break;
        case "10":
            key[i].innerText = "A#";
            break;
        case "11":
            key[i].innerText = "B";
            break;
        default: 
            break;
    }

  
}

</script>

{% endblock %}